# APP Related
# ------------------------------------------------------------------------------
APP_DOMAIN=http://localhost:3000
APP_PORT=3000

# Logging
# ------------------------------------------------------------------------------
LOGSERVICE_TOKEN=SOMETOKEN

# AUTH
# ------------------------------------------------------------------------------
JWT_AUD=http://localhost:3000/
JWT_ISS=OpenAPIBase-Testing
JWT_SECRET=JWT_SECRET-TEMPLATE
JWT_EXPIRATION=1h
JWT_ID_TOKEN_SECRET=JWT_ID_TOKEN_SECRET-TEMPLATE
JWT_ID_TOKEN_EXPIRATION=2h
JWT_REFRESH_ID_TOKEN_SECRET=JWT_REFRESH_ID_TOKEN_SECRET-TEMPLATE
JWT_REFRESH_ID_TOKEN_EXPIRATION=1d
JWT_MAGICLINK_SECRET=JWT_PASSWORDLESS_SECRET-TEMPLATE
JWT_MAGICLINK_EXPIRATION=10m

# SendGrid
# ------------------------------------------------------------------------------
SENDGRID_API_KEY=SG.erqCfy6jQ5u3WeucTpACzQ.-KuM1kB08Mc3i5TeEb6SrhSkND4z-QvQGR_1_XXXXXX #this is a fake key
SENDGRID_SENDGRID_MAGIC_LINK_EMAIL_ID=d-4f18a1a18f1d4e2f904703231fXXXXXX #this is a fake id
SENDGRID_SENDER_EMAIL=noreply@fake.com


# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=localhost
POSTGRES_DB=testDb
POSTGRES_PORT=5432

## Used by app during RUNTIME
APP_RUNTIME_USER=runtimeuser
APP_RUNTIME_USER_PASSWORD=runtimepassword
POSTGRES_SHOULD_USE_SSL=true
POSTGRES_REJECT_UNAUTHORIZED=true
